.playerMainBox {
    position: fixed;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 70px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
}

.playerPartFromMoment {
    position: absolute;
    top: 45px;
    left: 10px;
    width: 130px;
    height: 20px;
    border: 1px solid #CCCCCC;
    border-radius: 2px;
    font-family: Calibri, Helvetica;
    text-align: center;
    color: #888888;
}

.playerPartFromMoment:hover {
    cursor: pointer;
}

.playerPartFromMoment:active {
    background-color: rgb(250, 250, 250);
}

.playerPartControl {
    position: absolute;
    top: 2px;
    left: 5px;
    width: 40px;
    height: 40px;
    color: #BBBBBB;
    font-size: 32px;
    padding-left: 3px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}

.playerPartControl:hover {
    cursor: pointer;
}

.playerPartControl:active {
    background-color: rgb(251, 251, 251);
}

.playerPartPreview {
    position: absolute;
    top: 2px;
    left: 55px;
    width: 40px;
    height: 40px;
    color: #BBBBBB;
    font-size: 32px;
    padding-left: 3px;
    padding-top: 2px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}

.playerPartPreview:hover {
    cursor: pointer;
}

.playerPartPreview:active {
    background-color: rgb(251, 251, 251);
}

.playerPartPreviewActive {
    background-color: rgb(251, 251, 251);
}

.playerPartPreviewActive:active {
    background-color: white;
}

.playerPreviewBox {
    position: absolute;
    left: 0;
    top: 80px;
    width: 150px;
    height: 300px;
}

.playerSaveButton {
    position: absolute;
    top: 2px;
    left: 105px;
    width: 40px;
    height: 40px;
    color: #BBBBBB;
    font-size: 32px;
    padding-left: 3px;
    padding-top: 2px;
    border: 1px solid #DDDDDD;
    border-radius: 2px;
}

.playerSaveButton:hover {
    cursor: pointer;
}

.playerSaveButton:active {
    background-color: rgb(251, 251, 251);
}

.playerSaveButtonDirty {
    border: 2px dotted orange;
}

.playerSaveButtonWaiting {
    border: 2px dotted yellow;
}

.playerSaveButtonSuccess {
    border: 2px dotted green;
}

.playerSaveButtonFail {
    border: 2px dotted red;
}